Source: picontrol-dkms
Section: electronics
Priority: optional
Maintainer: KUNBUS GmbH <support@kunbus.com>
Homepage: https://revolutionpi.com/
Vcs-Browser: https://gitlab.com/revolutionpi/piControl
Vcs-Git: https://gitlab.com/revolutionpi/piControl.git -b debian/bookworm
Build-Depends: debhelper-compat (= 13), dh-dkms
Standards-Version: 4.6.2

Package: picontrol-dkms
Architecture: all
Depends: ${misc:Depends}
Description: piControl driver for Revolution Pi extension modules
 Revolution Pi is a set of IoT products based on the Raspberry Pi and
 geared towards industrial usage.
